/*======================
    404 page
=======================*/


.page_404 {
    background: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url('./assets/dribbble_1.gif');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
}

.link_404:hover {
    background: #4ad540;
}

.contant_box_404 {
    margin-top: -50px;
}